<a href="https://colab.research.google.com/github/s-joshid/Transporter_proj/blob/main/FixedrefTcDoms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import argparse
#argparse makes it easy to write user friendly command-line interfaces
import os

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [15]:
  df =pd.read_csv(
      '/content/drive/MyDrive/NPacSearchResults.tcDoms.domblout.tab',
      engine = 'python',
      sep ='\s+',
      skiprows = [0,1,2],
      skipfooter = 10,
      usecols = [0,3,6,7],
      names = ['Target_name', 'query_name', 'E-value', 'score']
  )

In [16]:
df

,Target_name,query_name,E-value,score
0,4.C.1.TD000001.0,D1PA_S30C1_TRINITY_DN1771826_c1_g5_i1_2,3.100000e-14,46.8
1,4.C.1.TD000002.0,D1PA_S30C1_TRINITY_DN1771826_c1_g5_i1_2,2.100000e-10,34.2
2,1.A.46.TD000001.0,D1PA_S30C1_TRINITY_DN1771825_c1_g2_i1_3,2.000000e-16,54.6
3,1.A.11.TD000001.0,D1PA_S30C1_TRINITY_DN1771902_c7_g1_i1_3,4.600000e-31,102.6
4,1.A.11.TD000002.0,D1PA_S30C1_TRINITY_DN1771902_c7_g1_i1_3,7.400000e-30,98.5
...,...,...,...,...
1389293,3.A.10.TD000001.0,D1PA_S24C1_TRINITY_DN2788333_c7_g2_i1_1,3.600000e-61,202.2
1389294,9.B.87.TD000001.0,D1PA_S24C1_TRINITY_DN2821495_c4_g1_i1_2,2.000000e-15,51.2
1389295,9.B.87.TD000001.0,D1PA_S24C1_TRINITY_DN2821495_c4_g1_i1_2,2.000000e-15,51.2
1389296,9.B.87.TD000001.0,D1PA_S24C1_TRINITY_DN2821495_c4_g1_i1_2,2.000000e-15,51.2
1389297,3.A.5.TD000001.0,G3PA.diel.S4C3.C_TRINITY_DN234266_c0_g1_i1_1,7.300000e-46,151.2

In [17]:
df['score'] = df['score'].astype(float)

In [18]:
best_annot_df = df.iloc[df.groupby(['query_name']).score.idxmax()]
best_annot_df.reset_index(drop = True, inplace = True)

In [19]:
check_df = best_annot_df.duplicated(subset = 'query_name')
print('TRUE' in check_df.unique())
#checked best_annot_df contains no duplicates

False

<ipython-input-19-936649de8795>:2: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  print('TRUE' in check_df.unique())

In [20]:
best_annot_df.to_csv('/content/drive/MyDrive/best_tcdoms_test.csv', index = False)