In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
#load in proteins 
hmm_prots_df = pd.read_csv('../data/hmm_exploration.csv',
                           engine = 'python',
                           skiprows = [0],
                           usecols= [0, 1],
                           names = ['hmm_id', 'prot_count']
)
hmm_prots_df

       hmm_id  prot_count
0     PF00036     1560394
1     PF00069     1490977
2     PF00112      833973
3     PF00520      694921
4     PF00076      591664
...       ...         ...
1699  PF07835           3
1700  PF07229           2
1701  PF02264           2
1702  PF07585           2
1703  PF05538           1

[1704 rows x 2 columns]

In [8]:
mapping_df = pd.read_csv('../data/custom_mapping.csv',
                         engine = 'python',
                         skiprows = [0],
                         usecols= [0, 1, 2, 3, 4, 5],
                         names = ['hmm_id', 'class_', 'subclass', 'family', 'subfamily', 'substrate']
)
mapping_df

                  hmm_id  class_ subclass family subfamily substrate
0                PF03493       1        A      1         3         -
1                PF11834       1        A      1         4         -
2                PF08412       1        A      1         5         -
3                PF08763       1        A      1        11         -
4                PF00060       1        A     10         -         -
...                  ...     ...      ...    ...       ...       ...
1588  9.B.330.TD000001.0       9        B    330         -         -
1589  9.B.353.TD000001.0       9        B    353         -         -
1590  9.B.358.TD000001.0       9        B    358         -         -
1591  9.B.358.TD000002.0       9        B    358         -         -
1592  9.B.371.TD000001.0       9        B    371         -         -

[1593 rows x 6 columns]

In [9]:
mapped_counts = hmm_prots_df.merge(mapping_df, on = 'hmm_id')

In [10]:
mapped_counts.to_csv('../data/mapped_prot_counts.csv', index = False)